
body {
  font-family: Arial, serif;
  text-align: center;
  color: #343a40;
  font-size: 22px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-top: 40px;
  font-size: 48px;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Arial, serif;
  text-align: left;
  color: #ffffff;
  font-size: 14px;
  text-indent: 50px;
  /* display: inline-block; */
  float: left;
}

input {
  /* display: inline-block; */
  float: right;
  margin-right: 40px;
}

button {
  margin-top: 40px;
}

li {
  font-family: Arial, serif;
  text-align: left;
  color: #ffffff;
  font-size: 14px;
}

.page-header {
  background-color: #00bda5;
  padding-top: 40px;
  padding-bottom: 80px;
  color: #ffffff;
}

#image img {
  height: 200px;
  margin-top: 60px;
}
