<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">

  
    <h1>Content Cubed Test App</h1>

    <div id="firebaseui-auth-container"></div>
    <div id="loader">Loading...</div>

</body>

</html>