<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
  
    <img src="/images/storelevelapplogo.png" alt="storelevel.app" width="180" height="49" loading="eager">

    <div id="firebaseui-auth-container"></div>

</body>

</html>