<html lang="en">
<head>
    <% include ../helpers/head %>

<SCRIPT LANGUAGE=javascript>

  function OnChange(dropdown)  {
    var myindex  = dropdown.selectedIndex
    var SelValue = dropdown.options[myindex].value
    //var baseURL  = SelValue
    //top.location.href = baseURL;

    var dbRef = firebase.database().ref('data');
    
    
    //clear previously selected store data
    document.getElementById('dataHere').innerHTML = "";


    //get list of dbobject by Key
    var query = dbRef.orderByKey();

    var lnbreak = document.createElement("br");
    var para = document.createElement("p");
    var para2 = document.createElement("p");
    var para3 = document.createElement("p");
    para.innerHTML = "Product Name (UPC) and Units Sold";
    para2.style = "p2"
    para2.innerHTML = "On Shelf?";
    para3.style = "p2"
    para3.innerHTML = "In Stock?";
    document.getElementById('headHere').appendChild(para);
    document.getElementById('headHere').appendChild(para2);
    document.getElementById('headHere').appendChild(para3);
    document.getElementById('headHere').appendChild(lnbreak);

    //iterate through where store matches selected add products to list
    //create list item, checkboxes <TODO> and publish to UI.
    query.once('value')
      .then(function(snapshot) {
        snapshot.forEach(function(childSnapshot) {
          var key = childSnapshot.key;
          var childData = childSnapshot.val();
          var store = childData.Store;
          var prodName = document.createElement("p");
          var linebreak = document.createElement("br");

          if (store == SelValue)  {
            let item = childData.Name + " (" + childData.UPC + ") sold " + childData.UnitSales + " units"
            let ckbx = document.createElement("input");
            ckbx.id = "slf"+childData.UPC;
            ckbx.type = "checkbox";
            let ckbx2 = document.createElement("input");
            ckbx2.id = "stk"+childData.UPC;
            ckbx2.type = "checkbox";
            prodName.innerHTML = item;
            //.appendChild('<input type="checkbox">');
            //prodName.insertAdjacentHTML('beforeend', ckbx);
            prodName.setAttribute("child-key", childData.UPC);
            document.getElementById('dataHere').appendChild(linebreak);
            document.getElementById('dataHere').appendChild(prodName);
            document.getElementById('dataHere').appendChild(ckbx);
            document.getElementById('dataHere').appendChild(ckbx2);
          } 
        })
      })

      document.getElementById('dataHere').appendChild(lnbreak);


    //create text inputs for comments
    var userId = firebase.auth().currentUser.uid;
    console.log(userId);

    var priceComm = document.createElement("input");
    priceComm.id = "price"+userId;
    priceComm.type = "text";
    priceComm.size = 80;

    var presComm = document.createElement("input");
    presComm.id = "pres"+userId;
    presComm.type = "text";
    presComm.size = 80;
    
    var para4 = document.createElement("p");
    var para5 = document.createElement("p");
    para4.innerHTML = "Note any pricing issues here:"
    para5.innerHTML = "Note any presentation issues here:"

    document.getElementById('commentsHere').appendChild(para4);
    document.getElementById('commentsHere').appendChild(lnbreak);   
    document.getElementById('commentsHere').appendChild(priceComm);
    document.getElementById('commentsHere').appendChild(lnbreak);
    document.getElementById('commentsHere').appendChild(para5);
    document.getElementById('commentsHere').appendChild(lnbreak); 
    document.getElementById('commentsHere').appendChild(presComm);
    document.getElementById('commentsHere').appendChild(lnbreak);

    //console.log(dbRef);

    //var dataList = document.getElementById('CommentsHere');
    /* dbRef.child.once('value')
     .then(function(snapshot) {
      //snapshot.forEach(function(childSnapshot) {
        var key = snapshot.key;
        //var childData = childSnapshot.Store;
        console.log(key);
      }) */
      /* let data = key;
      let $li = document.createElement("li");
      $li.innerHTML = data; */
      //console.log(data);

/*   console.log(firebase.database().ref('/users/' + userId).once('value').then((snapshot) => {
    var username = (snapshot.val() && snapshot.val().username) || 'Anonymous';
  })) */


/* ref.once("value", function(data) {
    // do some stuff once
  }); */

  //document.getElementById("dataHere").innerHTML = "The data for the " + SelValue +" store will go here.";
  //console.log(SelValue);

/*   document.getElementById("commentsHere").innerHTML = "user is: " + userId;
  console.log(userID); */
  
  return true;
}
</SCRIPT>

</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
  
    <h1>Content Cubed Test App</h1>

    <form>
      <select name="stores" id="stores" onchange='OnChange(this.form.stores)'>
        <option value="Choose Store">Choose Store</option>
        <option value="50th Street Edina">50th Street Edina</option>
        <option value="Bloomington">Bloomington</option>
        <option value="Burnsville">Burnsville</option>
        <option value="Chanhassen">Chanhassen</option>
        <option value="Downtown Minneapolis">Downtown Minneapolis</option>
        <option value="Downtown St. Paul">Downtown St. Paul</option>
        <option value="Eagan">Eagan</option>
        <option value="Eden Prairie">Eden Prairie</option>
        <option value="France Avenue Edina">France Avenue Edina</option>
        <option value="Glen Lake">Glen Lake</option>
        <option value="Golden Valley">Golden Valley</option>
        <option value="Highland Park">Highland Park</option>
        <option value="Hwy.7 Minnetonka">Hwy.7 Minnetonka</option>
        <option value="Maple Grove">Maple Grove</option>
        <option value="Navarre">Navarre</option>
        <option value="Northeast Minneapolis">Northeast Minneapolis</option>
        <option value="Plymouth">Plymouth</option>
        <option value="Prior Lake">Prior Lake</option>
        <option value="Richfield">Richfield</option>
        <option value="Ridgedale">Ridgedale</option>
        <option value="Roseville">Roseville</option>
        <option value="St. Cloud">St. Cloud</option>
        <option value="St. Louis Park">St. Louis Park</option>
        <option value="Uptown Minneapolis">Uptown Minneapolis</option>
        <option value="Wayzata">Wayzata</option>
        <option value="White Bear Lake">White Bear Lake</option>
        <option value="Woodbury">Woodbury</option>
      </select>
    </form>

  <div id="headHere">
  
  </div>

  <div id="dataHere">

  </div>

  <br>

  <div id="commentsHere">
  
  </div>


</body>

</html>