<html lang="en">
<head>
    <% include ../helpers/head %>

<SCRIPT LANGUAGE=javascript>

  //access database
  var dbRef = firebase.database().ref('data');

  function OnChange(dropdown)  {
    //exception handling for when dropdown list is removed
    try {
      var myindex  = dropdown.selectedIndex;
    }

    catch ( e ) {
         // Code to run if an exception occurs
         return;
    }
    var SelValue = dropdown.options[myindex].value;

    //access database
    //var dbRef = firebase.database().ref('data');
    
    //clear previously selected store data if present
    document.getElementById('clicker').innerHTML = "";
    document.getElementById('labels').innerHTML = "";
    document.getElementById('dataHere').innerHTML = "";
    document.getElementById('commentsHere').innerHTML = "";

    //get list of dbobject by Category
    var query = dbRef.orderByChild("Category");

    var pushme = document.createElement("input");
    pushme.id = "confirm"
    pushme.type = "button";
    pushme.value = "Done";
    pushme.onclick = OnClick;
    document.getElementById('clicker').append(pushme);
    //pushme.onclick = OnClick();
    

    var lnbreak = document.createElement("br");
    var para = document.createElement("h2");
    var para2 = document.createElement("h4");
    var para3 = document.createElement("h4");
    para.innerHTML = "Product Name and Units Sold";
    para2.innerHTML = "ON SHELF";
    para3.innerHTML = "IN STOCK";
    document.getElementById('labels').appendChild(para);
    document.getElementById('labels').appendChild(para2);
    document.getElementById('labels').appendChild(para3);
    //document.getElementById('headHere').appendChild(lnbreak);

    let currcat = "";
    //iterate through where store matches selected add products to list
    //create list item, checkboxes and publish to UI.
    query.once('value')
      .then(function(snapshot) {
        snapshot.forEach(function(childSnapshot) {
          var key = childSnapshot.key;
          var childData = childSnapshot.val();
          var store = childData.Store;
          var category = childData.Category;
          var prodName = document.createElement("p");
          var linebreak = document.createElement("br");

          //build category labels
          if (currcat != childData.Category) {
              let catlabel = document.createElement("h3");
              catlabel.innerHTML = childData.Category;
              currcat = childData.Category;
              document.getElementById('dataHere').appendChild(catlabel);
            } else {
              //do nothing;
            }

          if (store == SelValue)  {
            let item = childData.Name + " (" + childData.UPC + ") sold " + childData.UnitSales + "   . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
            let ckbx = document.createElement("input");
            ckbx.id = "slf"+childData.UPC;
            ckbx.type = "checkbox";
            let ckbx2 = document.createElement("input");
            ckbx2.id = "stk"+childData.UPC;
            ckbx2.type = "checkbox";
            prodName.innerHTML = item;
            prodName.setAttribute("child-key", childData.UPC);
            prodName.setAttribute("name", childData.Name);
            
            document.getElementById('dataHere').appendChild(ckbx);
            document.getElementById('dataHere').appendChild(ckbx2);
            document.getElementById('dataHere').appendChild(prodName);
          } 
        })
      })

    //create text inputs for comments
    var userId = firebase.auth().currentUser.uid;

    var priceComm = document.createElement("input");
    priceComm.id = "price"+userId;
    priceComm.type = "text";
    priceComm.size = 80;
    //priceComm.float = "left";

    var presComm = document.createElement("input");
    presComm.id = "pres"+userId;
    presComm.type = "text";
    presComm.size = 80;
    //presComm.float = "left";
    
    var para4 = document.createElement("h2");
    var para5 = document.createElement("h2");
    para4.innerHTML = "Note any pricing issues here:"
    para5.innerHTML = "Note any presentation issues here:"

    document.getElementById('commentsHere').appendChild(para4);  
    document.getElementById('commentsHere').appendChild(priceComm);
    document.getElementById('commentsHere').appendChild(para5);
    document.getElementById('commentsHere').appendChild(presComm);
    }
  
  function OnClick2(button) {
    //log user out of firebase
    firebase.auth().signOut();
    //clear all elements
    document.getElementById('storelist').innerHTML = "You are logged out, you may close the app.";
    document.getElementById('clicker').innerHTML = "";
    document.getElementById('labels').innerHTML = "";
    document.getElementById('dataHere').innerHTML = "";
    document.getElementById('commentsHere').innerHTML = "";
    
  }

  function OnClick(button) {
    //declare func variables
    /* var dataobject = {"schema":{"fields":[{"name":"product","type":"string"},
      {"name":"onshelf","type":"boolean"},
      {"name":"instock","type":"boolean"}],"pandas_version":"0.20.0"},"visit":[]}; */

    /* const dropdown = document.getElementById("storelist");  
    var myindex  = dropdown.selectedIndex;
    var SelValue = dropdown.options[myindex].value; */  

    var dataobject = [];

    var data = document.getElementById("dataHere");
    var comm = document.getElementById("commentsHere");

    var dataprod = data.getElementsByTagName("p");
    var datalmts = data.getElementsByTagName("input");
    var commlmts = comm.getElementsByTagName("input");
    var pl = dataprod.length;
    var dl = datalmts.length;
    var cl = commlmts.length;

    //collect input data in object maybe JSON???
    //access html elments, extract contained data, and arrange
    let j = 0;
    for (i = 0; i < pl; i++) {
      var obj = { name: dataprod[i].getAttribute('name'),
                  product: dataprod[i].getAttribute('child-key'),
                  instock: datalmts[j].checked,
                  onshelf: datalmts[j+1].checked };
                  j += 2
      dataobject.push(obj);
    }
    //console.log(datalmts);
    //console.log(dataobject);
 
    //clear previous view data
    document.getElementById('storelist').innerHTML = "Products to order:";
    document.getElementById('clicker').innerHTML = "";
    document.getElementById('labels').innerHTML = "";
    document.getElementById('dataHere').innerHTML = "";
    document.getElementById('commentsHere').innerHTML = "";

    //publish new data for ordering view
    var pushme2 = document.createElement("input");
    pushme2.id = "confirmorder"
    pushme2.type = "button";
    pushme2.value = "Done";
    pushme2.onclick = OnClick2;
    document.getElementById('clicker').append(pushme2);

    var lnbreak = document.createElement("br");
    var para = document.createElement("h2");
    var para3 = document.createElement("h5");
    para.innerHTML = "Product Name (UPC/SKU)";
    para3.innerHTML = "Ordered";
    document.getElementById('labels').appendChild(para);
    document.getElementById('labels').appendChild(para3);
    
    var pl = dataobject.length
    for (i = 0; i < pl; i++) {
      //console.log(item);
      if (dataobject[i].instock == false)  {
            let line = dataobject[i].name + " (" + dataobject[i].product + ")   . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
            let prodName = document.createElement("p");
            let ckbx = document.createElement("input");
            let linebreak = document.createElement("br");
            ckbx.id = "ord"+dataobject[i].product;
            ckbx.type = "checkbox";
            prodName.innerHTML = line;
            prodName.setAttribute("child-key", dataobject[i].product);
            prodName.setAttribute("name", dataobject[i].name);
            document.getElementById('dataHere').appendChild(ckbx);
            document.getElementById('dataHere').appendChild(prodName);
          } 
        }

    //access database
    

    //write data to db

  }
</SCRIPT>

</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header" id="page-header">
  
    <h1>Content Cubed Test App</h1>

    <form id="clicker">

    </form>

    <form id="storelist">
      <select name="stores" id="stores" onchange='OnChange(this.form.stores)'>
        <option value="Choose Store">Choose Store</option>
        <option value="50th Street Edina">50th Street Edina</option>
        <option value="Bloomington">Bloomington</option>
        <option value="Burnsville">Burnsville</option>
        <option value="Chanhassen">Chanhassen</option>
        <option value="Downtown Minneapolis">Downtown Minneapolis</option>
        <option value="Downtown St. Paul">Downtown St. Paul</option>
        <option value="Eagan">Eagan</option>
        <option value="Eden Prairie">Eden Prairie</option>
        <option value="France Avenue Edina">France Avenue Edina</option>
        <option value="Glen Lake">Glen Lake</option>
        <option value="Golden Valley">Golden Valley</option>
        <option value="Highland Park">Highland Park</option>
        <option value="Hwy.7 Minnetonka">Hwy.7 Minnetonka</option>
        <option value="Maple Grove">Maple Grove</option>
        <option value="Navarre">Navarre</option>
        <option value="Northeast Minneapolis">Northeast Minneapolis</option>
        <option value="Plymouth">Plymouth</option>
        <option value="Prior Lake">Prior Lake</option>
        <option value="Richfield">Richfield</option>
        <option value="Ridgedale">Ridgedale</option>
        <option value="Roseville">Roseville</option>
        <option value="St. Cloud">St. Cloud</option>
        <option value="St. Louis Park">St. Louis Park</option>
        <option value="Uptown Minneapolis">Uptown Minneapolis</option>
        <option value="Wayzata">Wayzata</option>
        <option value="White Bear Lake">White Bear Lake</option>
        <option value="Woodbury">Woodbury</option>
      </select>
    </form>

  </div>
  
  <div id="labels"></div>

  <br><br>

  <div id="dataHere"></div>

  <div id="commentsHere"></div>

</body>

</html>