<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">

  
    <h1>Content Cubed Test App</h1>

    <form>
      <label for="Stores">Select Store:</label>

      <select name="stores" id="stores">
        <option value="storea">Store A</option>
        <option value="storeb">Store B</option>
        <option value="stprec">Store C</option>
        <option value="stored">Store D</option>
      </select>
    </form>



</body>

</html>