<html lang="en">
<head>
    <% include ../helpers/head %>

<SCRIPT LANGUAGE=javascript>

function OnChange(dropdown)  {
  var myindex  = dropdown.selectedIndex
  var SelValue = dropdown.options[myindex].value
  //var baseURL  = SelValue
  //top.location.href = baseURL;
  document.getElementById("dataHere").innerHTML = "The data for the " + SelValue +" store will go here."
  
  console.log(SelValue);
  return true;
}
</SCRIPT>

<!-- <script type="text/javascript">

  document.getElementById(SelValue) = SelValue;

</script> -->

</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">

  
    <h1>Content Cubed Test App</h1>

    <form>
      <select name="stores" id="stores" onchange='OnChange(this.form.stores);'>
        <option value="Choose Store">Choose Store</option>
        <option value="50th Street Edina">50th Street Edina</option>
        <option value="Bloomington">Bloomington</option>
        <option value="Burnsville">Burnsville</option>
        <option value="Chanhassen">Chanhassen</option>
        <option value="Downtown Minneapolis">Downtown Minneapolis</option>
        <option value="Downtown St. Paul">Downtown St. Paul</option>
        <option value="Eagan">Eagan</option>
        <option value="Eden Prairie">Eden Prairie</option>
        <option value="France Avenue Edina">France Avenue Edina</option>
        <option value="Glen Lake">Glen Lake</option>
        <option value="Golden Valley">Golden Valley</option>
        <option value="Highland Park">Highland Park</option>
        <option value="Hwy.7 Minnetonka">Hwy.7 Minnetonka</option>
        <option value="Maple Grove">Maple Grove</option>
        <option value="Navarre">Navarre</option>
        <option value="Northeast Minneapolis">Northeast Minneapolis</option>
        <option value="Plymouth">Plymouth</option>
        <option value="Prior Lake">Prior Lake</option>
        <option value="Richfield">Richfield</option>
        <option value="Ridgedale">Ridgedale</option>
        <option value="Roseville">Roseville</option>
        <option value="St. Cloud">St. Cloud</option>
        <option value="St. Louis Park">St. Louis Park</option>
        <option value="Uptown Minneapolis">Uptown Minneapolis</option>
        <option value="Wayzata">Wayzata</option>
        <option value="White Bear Lake">White Bear Lake</option>
        <option value="Woodbury">Woodbury</option>
      </select>
    </form>

  <div id="dataHere">
  </div>


</body>

</html>