<meta charset="UTF-8">
<title>Base Web App</title>


<!-- First we import our css files -->

<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>

<!-- Google font CSS -->
<link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet"/>

<!-- this app's own css -->
<link rel="stylesheet" type="text/css" href="css/main.css"/>



<!-- Next import js files -->

<!-- first we import jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- then bootstrap -->
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-database.js"></script>

<!-- Import AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>

  <!-- // Your web app's Firebase configuration -->
  <!-- // For Firebase JS SDK v7.20.0 and later, measurementId is optional -->
var firebaseConfig = {
  apiKey: "<%= process.env.FIREBASE_API_KEY %>",
  authDomain: "lfhi-292a2.firebaseapp.com",
  databaseURL: "https://lfhi-292a2.firebaseio.com",
  projectId: "lfhi-292a2",
  storageBucket: "lfhi-292a2.appspot.com",
  messagingSenderId: "563775255638",
  appId: "1:563775255638:web:bcdb24699345e8a08777f7",
  measurementId: "G-J6G172VV7K"
};
  <!-- // Initialize Firebase -->
firebase.initializeApp(firebaseConfig);
firebase.analytics();

<!-- then our app's own js file -->
<script src="js/main.js"></script>
